/* Large Screens */
@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 3rem; /* Reduce gap */
    }

    .about-containers {
      flex-wrap: wrap;
    }

    #contact,
    #projects {
      height: fit-content;
    }

    .profile-img {
      width: 400px; /* Adjust size as needed */
      height: 400px; /* Maintain aspect ratio */
      position: relative; /* Ensure the profile image is positioned properly */
      z-index: 1; /* Lower z-index value than the dropdown menu */
    }
  }

  /* Medium Screens */
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }

    #hamburger-nav {
      display: flex;
      position: relative; /* Ensure the dropdown menu is positioned relative to its container */
      z-index: 10; /* Higher z-index value to appear above other elements */
    }

    #dropdown-menu {
      position: absolute; /* Absolute positioning to control the dropdown menu's position */
      top: 100%; /* Position it below the hamburger icon */
      left: 0;
      width: 100%; /* Adjust width as needed */
      background-color: white; /* Background color for the dropdown menu */
      z-index: 11; /* Higher z-index value than the hamburger nav */
    }

    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }

    #profile,
    .section-container {
      display: block;
    }

    .arrow {
      display: none;
    }

    section,
    .section-container {
      height: fit-content;
      margin: 0 5%;
    }

    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 1rem; /* Reduce bottom margin */
    }

    .about-containers {
      margin-top: 0;
    }

    .profile-img {
      width: 250px; /* Adjust size as needed */
      height: 250px; /* Maintain aspect ratio */
      position: relative; /* Ensure the profile image is positioned properly */
      z-index: 1; /* Lower z-index value than the dropdown menu */
    }
  }


  /* Small Screens */
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }

    #profile {
      height: 83vh;
      margin-bottom: 1rem; /* Reduce gap */
    }

    article {
      font-size: 1rem;
    }

    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }

    .contact-info-container {
      margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }

    .experience-sub-title {
      font-size: 1.25rem;
    }

    .logo {
      font-size: 1.5rem;
    }

    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }

    .section__text__p2 {
      font-size: 1.25rem;
    }

    .title {
      font-size: 2rem;
    }

    .text-container {
      text-align: justify;
    }

    .profile-img {
      width: 150px; /* Adjust size as needed */
      height: 150px; /* Maintain aspect ratio */
      position: relative; /* Ensure the profile image is positioned properly */
      z-index: 1; /* Lower z-index value than the dropdown menu */
    }
  }
